* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial
}

h1,
h2 {
  text-align: center;
}

.btn {
  width: 98%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 13px;
  background-color: rgb(233, 0, 105);
  color: aliceblue;
  text-wrap: nowrap;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 115);
}